<%= link_to "Back",:controller => controller_name, :action => 'index' %>
<form action="" method="post">
<table class="tip">    
  <tr class="title">
    <td>ID</td>
    <td>Title</td>
    <td>Price</td>     
    <td>Quantity</td>     
  </tr>

  <%
  l = session[:cart]
  if(!l.blank?) 
    l.each_with_index do |(k,v), i| %>
      <tr>  
        <td><%= l[i][0] %> </td>
        <td><%= l[i][1]  %> </td>
        <td><%= l[i][2] %> </td>
        <td><input type="text" name="book<%= l[i][0] %>" value="<%= l[i][3]%>"> </td>     
      </tr>    

    <%     
    end
  else%>
    <tr>     
      <td colspan="100%">Empty cart</td>
    </tr>     
  <%  end %>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><input type="submit" name="cart" value="Update"></td>
    </tr>
</table>
 
</form>

<%= flash[:successMsg] %>
<%= flash[:errorMsg] %>



<div class="buttons">
  <input type="submit" value="Save" class="pc-button save blue" style="position: relative; opacity: 0.6;" disabled="disabled">
    <div style="display:none" class="blockUI"></div>
    <div style="z-index: 1000; border: medium none; margin: 0px; padding: 0px; width: auto; height: auto; top: -1px; left: -1px; background-color: rgb(255, 255, 255); opacity: 0.6; cursor: wait; right: -1px; bottom: -1px; position: absolute;" class="blockUI blockOverlay"></div>
    <div style="z-index: 1011; display: none; position: absolute; left: 74px; top: 19px;" class="blockUI blockMsg blockElement"></div>
  </input>
  <a class="pc-button cancel blue" href="#" style="position: relative;">Cancel
    <div style="display:none" class="blockUI"></div>
    <div style="z-index: 1000; border: medium none; margin: 0px; padding: 0px; width: auto; height: auto; top: -1px; left: -1px; background-color: rgb(255, 255, 255); opacity: 0.6; cursor: wait; right: -1px; bottom: -1px; position: absolute;" class="blockUI blockOverlay"></div>
    <div style="z-index: 1011; display: none; position: absolute; left: 82px; top: 19px;" class="blockUI blockMsg blockElement"></div>
  </a>	
</div>