<%= form_for :book,  :url => { :action => "create" } do |form| %>
<table class="tip">
  <tr>
    <td>Book Title</td>
    <td><%= form.text_field :title  %><%= error_line(@book,:title)%></td>      
  </tr>
  <tr>
    <td>Book Description</td>
    <td><%= form.text_field :description  %><%= error_line(@book,:description)%></td>    
  </tr>  
  <tr>
    <td>Book Price</td>
    <td><%= form.text_field :price, :value => ""  %><%= error_line(@book,:price)%></td>    
  </tr>
  <tr>
    <td>Email</td>
    <td><%= form.text_field :email, :value => ""  %><%= error_line(@book,:email)%></td>    
  </tr>
  <tr>
    <td>Active</td>
    <td><%= form.check_box :is_active%><%= error_line(@book,:is_active)%></td>    
  </tr>
  
</table>
<%= submit_tag "Submit" %> <% end %> <ul>
  <% @book.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>