<%= form_for :book,  :url => { :action => "create" } do |form| %>
<table class="tip">
  <tr>
    <td>Book Title</td>
    <td><%= form.text_field :title  %><%= @book.errors.get(:title) if @book.errors.get(:title).present?%></td>      
  </tr>
  <tr>
    <td>Book Description</td>
    <td><%= form.text_field :description  %><%= @book.errors.get(:description) if @book.errors.get(:description).present?%></td>    
  </tr>  
  <tr>
    <td>Book Price</td>
    <td><%= form.text_field :price, :value => ""  %><%= @book.errors.get(:price) if @book.errors.get(:price).present?%></td>    
  </tr>
  <tr>
    <td>Email</td>
    <td><%= form.text_field :email, :value => ""  %><%= @book.errors.get(:email) if @book.errors.get(:email).present?%></td>    
  </tr>
  <tr>
    <td>Active</td>
    <td><%= form.check_box :is_active%><%= @book.errors.get(:is_active) if @book.errors.get(:is_active).present?%></td>    
  </tr>
</table>
<%= submit_tag "Submit" %> <% end %> 
